<a href="https://colab.research.google.com/github/YangHamin/ITS-study-IDF-/blob/main/ITSlecture1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#고속도로 15분통행량 data 분석 실습임.

- data  분석 실습 순서 - 
0. 다운로드 받은 데이터셋 확인 
1. 데이터셋 업로드
2. 한글폰트 설치 
3. google drive 마운트 
----------------------------
4. 데이터 로드 
5. 데이터 가공 
6. 데이터 탐색 및 시각화

In [2]:
# 1. 한글폰트 설치 후 런타임 시작

In [2]:
# ! : colab jupyter natebook cell 에서 리눅스 셸(shell) 명령어 커맨드를 실행하기 위해 붙혀줌 
# sudo : supre user 권한으로 명령어를 실행 
# apt-get : linux package manager 명령어 
# install : 설치 
# -y : prompt 발생시 기본적으로 yes 처리 
# rm : 삭제 
# ~/ :사용자 홈 디렉토리 
!sudo pat-get install -y fonts-nanum # 나눔폰트 다운
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

sudo: pat-get: command not found
/usr/share/fonts: caching, new cache contents: 0 fonts, 1 dirs
/usr/share/fonts/truetype: caching, new cache contents: 0 fonts, 2 dirs
/usr/share/fonts/truetype/humor-sans: caching, new cache contents: 1 fonts, 0 dirs
/usr/share/fonts/truetype/liberation: caching, new cache contents: 16 fonts, 0 dirs
/usr/local/share/fonts: caching, new cache contents: 0 fonts, 0 dirs
/root/.local/share/fonts: skipping, no such directory
/root/.fonts: skipping, no such directory
/var/cache/fontconfig: cleaning cache directory
/root/.cache/fontconfig: not cleaning non-existent cache directory
/root/.fontconfig: not cleaning non-existent cache directory
fc-cache: succeeded

In [1]:
# 설치된 한글 폰트를 matplot 의 폰트로 지정한다. 
import matplotlib.pyplot as plt
plt.rc('font',family='NanumBarunGothic')

In [3]:
# Google drive mount (드라이브 할당)
# mount 에 필요한 라이브러리 import 
import os # 운영체제 명령어 사용을 위한 라이브러리 
import glob #  지정 폴더 안의 모든 파일 목록 확인시 사용하는 라이브러리 
from google.colab import drive # google drive 에 엑세스 하는 라이브러리

In [8]:
drive.mount('/content/drive')# 마운트

Mounted at /content/drive

In [12]:
# % : magic command
%pwd # peint # working dirextory (현재 작업 디렉토리)

'/content'

In [31]:
# 데이터 셋을 업로드한 디렉토리로 이동 
# cd : change directory
%cd /content/drive/MyDrive/ITS-KNUT/datasets/ex15min

/content/drive/MyDrive/ITS-KNUT/datasets/ex15min

In [36]:
# 데이터셋으로 업로드한 엑셀 csv 파일 목록을 읽기 위하여 현재 디렉토리를 확인 , os.getcwd(): current working directory 햔재 작업 디렉토리 정보를 가져온다 
path = os.getcwd()
# 현재 디렉토리 내 사용자가 명시한 모든 파일 목록을 가져와라, glob.glob()
csv_files=glob.glob(os.path.join(path, "*.csv")) # os.path.join () : path 와 사용자가 제시하는 파일명을 결합

In [37]:
csv_files

['/content/drive/My Drive/ITS-KNUT/datasets/ex15min/TB_COL_EX_T_RLRL_TRFC_BBOC_15MIN_(1).csv',
 '/content/drive/My Drive/ITS-KNUT/datasets/ex15min/TB_COL_EX_T_RLRL_TRFC_BBOC_15MIN_(2).csv',
 '/content/drive/My Drive/ITS-KNUT/datasets/ex15min/TB_COL_EX_T_RLRL_TRFC_BBOC_15MIN_(3).csv',
 '/content/drive/My Drive/ITS-KNUT/datasets/ex15min/TB_COL_EX_T_RLRL_TRFC_BBOC_15MIN_(4).csv',
 '/content/drive/My Drive/ITS-KNUT/datasets/ex15min/TB_COL_EX_T_RLRL_TRFC_BBOC_15MIN_(5).csv',
 '/content/drive/My Drive/ITS-KNUT/datasets/ex15min/TB_COL_EX_T_RLRL_TRFC_BBOC_15MIN_(6).csv',
 '/content/drive/My Drive/ITS-KNUT/datasets/ex15min/TB_COL_EX_T_RLRL_TRFC_BBOC_15MIN_(7).csv',
 '/content/drive/My Drive/ITS-KNUT/datasets/ex15min/TB_COL_EX_T_RLRL_TRFC_BBOC_15MIN_(8).csv',
 '/content/drive/My Drive/ITS-KNUT/datasets/ex15min/TB_COL_EX_T_RLRL_TRFC_BBOC_15MIN_(9).csv',
 '/content/drive/My Drive/ITS-KNUT/datasets/ex15min/TB_COL_EX_T_RLRL_TRFC_BBOC_15MIN_(10).csv',
 '/content/drive/My Drive/ITS-KNUT/datasets/ex15min/TB_COL_EX_T_RLRL_TRFC_BBOC_15MIN_(11).csv',
 '/content/drive/My Drive/ITS-KNUT/datasets/ex15min/TB_COL_EX_T_RLRL_TRFC_BBOC_15MIN_(12).csv',
 '/content/drive/My Drive/ITS-KNUT/datasets/ex15min/TB_COL_EX_T_RLRL_TRFC_BBOC_15MIN_(13).csv',
 '/content/drive/My Drive/ITS-KNUT/datasets/ex15min/TB_COL_EX_T_RLRL_TRFC_BBOC_15MIN_(14).csv',
 '/content/drive/My Drive/ITS-KNUT/datasets/ex15min/TB_COL_EX_T_RLRL_TRFC_BBOC_15MIN_(15).csv',
 '/content/drive/My Drive/ITS-KNUT/datasets/ex15min/TB_COL_EX_T_RLRL_TRFC_BBOC_15MIN_(16).csv',
 '/content/drive/My Drive/ITS-KNUT/datasets/ex15min/TB_COL_EX_T_RLRL_TRFC_BBOC_15MIN_(17).csv',
 '/content/drive/My Drive/ITS-KNUT/datasets/ex15min/TB_COL_EX_T_RLRL_TRFC_BBOC_15MIN_(18).csv',
 '/content/drive/My Drive/ITS-KNUT/datasets/ex15min/TB_COL_EX_T_RLRL_TRFC_BBOC_15MIN_(19).csv',
 '/content/drive/My Drive/ITS-KNUT/datasets/ex15min/TB_COL_EX_T_RLRL_TRFC_BBOC_15MIN_(20).csv',
 '/content/drive/My Drive/ITS-KNUT/datasets/ex15min/TB_COL_EX_T_RLRL_TRFC_BBOC_15MIN_(21).csv',
 '/content/drive/My Drive/ITS-KNUT/datasets/ex15min/TB_COL_EX_T_RLRL_TRFC_BBOC_15MIN_(22).csv',
 '/content/drive/My Drive/ITS-KNUT/datasets/ex15min/TB_COL_EX_T_RLRL_TRFC_BBOC_15MIN_(23).csv',
 '/content/drive/My Drive/ITS-KNUT/datasets/ex15min/TB_COL_EX_T_RLRL_TRFC_BBOC_15MIN_(24).csv']

In [38]:
type (csv_files)

list

In [59]:
# csv_files 리스트 내의 파일목록을 하나씩 읽어서 
# 각각의 file을 dataframe 으로 읽어들인다.
# for loop 이용 
import pandas as pd
import numpy as np
for singlefile in  csv_files : 
  # file 하나를 pd.read_csv(파일명) 명령어를 이용해 읽음
  # 데이터 프레임으로 변환 
  csv_df=pd.read_csv(singlefile)
  # 기본적인 정보 확인 (파일명과 데이터 프레임의 행의 갯수출력)
  print (singlefile,len(csv_df))

/content/drive/My Drive/ITS-KNUT/datasets/ex15min/TB_COL_EX_T_RLRL_TRFC_BBOC_15MIN_(1).csv 416499
/content/drive/My Drive/ITS-KNUT/datasets/ex15min/TB_COL_EX_T_RLRL_TRFC_BBOC_15MIN_(2).csv 361131
/content/drive/My Drive/ITS-KNUT/datasets/ex15min/TB_COL_EX_T_RLRL_TRFC_BBOC_15MIN_(3).csv 303810
/content/drive/My Drive/ITS-KNUT/datasets/ex15min/TB_COL_EX_T_RLRL_TRFC_BBOC_15MIN_(4).csv 396865
/content/drive/My Drive/ITS-KNUT/datasets/ex15min/TB_COL_EX_T_RLRL_TRFC_BBOC_15MIN_(5).csv 406954
/content/drive/My Drive/ITS-KNUT/datasets/ex15min/TB_COL_EX_T_RLRL_TRFC_BBOC_15MIN_(6).csv 404669
/content/drive/My Drive/ITS-KNUT/datasets/ex15min/TB_COL_EX_T_RLRL_TRFC_BBOC_15MIN_(7).csv 426506
/content/drive/My Drive/ITS-KNUT/datasets/ex15min/TB_COL_EX_T_RLRL_TRFC_BBOC_15MIN_(8).csv 410113
/content/drive/My Drive/ITS-KNUT/datasets/ex15min/TB_COL_EX_T_RLRL_TRFC_BBOC_15MIN_(9).csv 355852
/content/drive/My Drive/ITS-KNUT/datasets/ex15min/TB_COL_EX_T_RLRL_TRFC_BBOC_15MIN_(10).csv 301001
/content/drive/My Drive/ITS-KNUT/datasets/ex15min/TB_COL_EX_T_RLRL_TRFC_BBOC_15MIN_(11).csv 369984
/content/drive/My Drive/ITS-KNUT/datasets/ex15min/TB_COL_EX_T_RLRL_TRFC_BBOC_15MIN_(12).csv 379081
/content/drive/My Drive/ITS-KNUT/datasets/ex15min/TB_COL_EX_T_RLRL_TRFC_BBOC_15MIN_(13).csv 405170
/content/drive/My Drive/ITS-KNUT/datasets/ex15min/TB_COL_EX_T_RLRL_TRFC_BBOC_15MIN_(14).csv 409414
/content/drive/My Drive/ITS-KNUT/datasets/ex15min/TB_COL_EX_T_RLRL_TRFC_BBOC_15MIN_(15).csv 411964
/content/drive/My Drive/ITS-KNUT/datasets/ex15min/TB_COL_EX_T_RLRL_TRFC_BBOC_15MIN_(16).csv 353415
/content/drive/My Drive/ITS-KNUT/datasets/ex15min/TB_COL_EX_T_RLRL_TRFC_BBOC_15MIN_(17).csv 306264
/content/drive/My Drive/ITS-KNUT/datasets/ex15min/TB_COL_EX_T_RLRL_TRFC_BBOC_15MIN_(18).csv 325200
/content/drive/My Drive/ITS-KNUT/datasets/ex15min/TB_COL_EX_T_RLRL_TRFC_BBOC_15MIN_(19).csv 368637
/content/drive/My Drive/ITS-KNUT/datasets/ex15min/TB_COL_EX_T_RLRL_TRFC_BBOC_15MIN_(20).csv 388610
/content/drive/My Drive/ITS-KNUT/datasets/ex15min/TB_COL_EX_T_RLRL_TRFC_BBOC_15MIN_(21).csv 389775
/content/drive/My Drive/ITS-KNUT/datasets/ex15min/TB_COL_EX_T_RLRL_TRFC_BBOC_15MIN_(22).csv 390796
/content/drive/My Drive/ITS-KNUT/datasets/ex15min/TB_COL_EX_T_RLRL_TRFC_BBOC_15MIN_(23).csv 358663
/content/drive/My Drive/ITS-KNUT/datasets/ex15min/TB_COL_EX_T_RLRL_TRFC_BBOC_15MIN_(24).csv 305632

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

데이터 셋 구성 (데이터 정의서 내용 )
 컬럼명 (한글/영문)/컬럼설명/데이터타입/*코드테이블 별도 참조 

 집게일자(AGGR_DATE)/집계일자 /Text

 충주 주변 영업소 코드 
 충주 : 562
 충주(특) :762
 북충주:561
 동충주:297
 동충주특 :497
 서충주:188
 서충주(특):388

In [65]:
#충주지역의 톨게이트 데이터만을 분석 대상 프레임으로 로드한다. 

# 필터링 된 데이터프레임을 생성 : pd.DataFrame(컬럼명리스트)
#f_df : filtered data frame
f_df=pd.DataFrame(columns=['AGGR_DATE','AGGR_HM','BUZPLC_CODE','INOUT_SE_CD','TCS_CAR_KIND_SE_CD','TCS_HIPASS_SE_CD','YMTC','LAST_CHANGE_TIME'])

# 모든 file 을 대상으로 파일을 읽어 데이터 프레임으로 변환 후 
# 변환된 데이터 프레임에서 충주주변 condition 1~7 을 만족하는 영업소 코드 데이터만 필터링 하여 
# f_df 데이터 프레임에 추가 
for singlefile in csv_files :
  #csv 파일을 읽어 dataframe 으로 구성 
  csv_df = pd.read_csv(singlefile)
  #충주지역 톨게이트 (영업소별)조건 생성 
  condition1=csv_df.BUZPLC_CODE==188#서충주
  condition2=csv_df.BUZPLC_CODE==297#동충주
  condition3=csv_df.BUZPLC_CODE==377#서충주(특)
  condition4=csv_df.BUZPLC_CODE==497#동충주(특)
  condition5=csv_df.BUZPLC_CODE==561#북충주
  condition6=csv_df.BUZPLC_CODE==562#충주
  condition7=csv_df.BUZPLC_CODE==762#충주(특)

  df=csv_df.loc[condition1|condition2 | condition3 |condition4 |condition5 |condition6 |condition7]
  
  
  #pd.concat() : data frame 을 합친다. 
  f_df =pd.concat([f_df,df],axis=0)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [66]:
f_df

       AGGR_DATE AGGR_HM BUZPLC_CODE  ... YMTC LAST_CHANGE_TIME VMTC
562     20211001       0         188  ...  NaN   20211001015841  7.0
563     20211001       0         188  ...  NaN   20211001015841  1.0
564     20211001       0         188  ...  NaN   20211001015841  1.0
565     20211001       0         188  ...  NaN   20211001015841  6.0
566     20211001       0         188  ...  NaN   20211001015841  1.0
...          ...     ...         ...  ...  ...              ...  ...
304975  20211031     245         297  ...  NaN   20211031030521  1.0
304976  20211031     245         297  ...  NaN   20211031030521  3.0
304977  20211031     245         297  ...  NaN   20211031030521  2.0
305584  20211031     245         762  ...  NaN   20211031030521  1.0
305585  20211031     245         762  ...  NaN   20211031030521  1.0

[81528 rows x 9 columns]

In [67]:
# data 처리 (가공)
# 통행량 VMTC 문자열 ==> 정수령으로 변환
# 데이터 프레임 .astype() 메서드 
f_df = f_df.astype({'VMTC':'int'})

In [72]:
print(f_df.dtypes)

AGGR_DATE             object
AGGR_HM               object
BUZPLC_CODE           object
INOUT_SE_CD           object
TCS_CAR_KIND_SE_CD    object
TCS_HIPASS_SE_CD      object
YMTC                  object
LAST_CHANGE_TIME      object
VMTC                   int64
dtype: object

In [73]:
f_df.tail(20)

       AGGR_DATE AGGR_HM BUZPLC_CODE  ... YMTC LAST_CHANGE_TIME VMTC
303589  20211031    2345         762  ...  NaN   20211101004348    1
303590  20211031    2345         762  ...  NaN   20211101004348    8
303953  20211031     245         188  ...  NaN   20211031030521    4
303954  20211031     245         188  ...  NaN   20211031030521    3
303955  20211031     245         188  ...  NaN   20211031030521    4
304442  20211031     245         561  ...  NaN   20211031030521    6
304443  20211031     245         561  ...  NaN   20211031030521    1
304444  20211031     245         561  ...  NaN   20211031030521    2
304445  20211031     245         561  ...  NaN   20211031030521    2
304446  20211031     245         561  ...  NaN   20211031030521    1
304447  20211031     245         561  ...  NaN   20211031030521    1
304448  20211031     245         562  ...  NaN   20211031030521    2
304449  20211031     245         562  ...  NaN   20211031030521    2
304450  20211031     245         562  ...  NaN   20211031030521    2
304974  20211031     245         297  ...  NaN   20211031030521    4
304975  20211031     245         297  ...  NaN   20211031030521    1
304976  20211031     245         297  ...  NaN   20211031030521    3
304977  20211031     245         297  ...  NaN   20211031030521    2
305584  20211031     245         762  ...  NaN   20211031030521    1
305585  20211031     245         762  ...  NaN   20211031030521    1

[20 rows x 9 columns]

In [75]:
#string 인 AGGR_DATE 를 datetime 으로 변환 
f_df['mDateTime'] = pd.to_datetime(f_df['AGGR_DATE'],format='%Y%m%d')

In [76]:
f_df.head(5)

    AGGR_DATE AGGR_HM BUZPLC_CODE  ... LAST_CHANGE_TIME VMTC  mDateTime
562  20211001       0         188  ...   20211001015841    7 2021-10-01
563  20211001       0         188  ...   20211001015841    1 2021-10-01
564  20211001       0         188  ...   20211001015841    1 2021-10-01
565  20211001       0         188  ...   20211001015841    6 2021-10-01
566  20211001       0         188  ...   20211001015841    1 2021-10-01

[5 rows x 10 columns]

In [81]:
# datatime 형식의 문자열로부터 연 월 일 추출 
f_df['year'] =pd.DatetimeIndex(f_df['mDateTime']).year
f_df['month'] =pd.DatetimeIndex(f_df['mDateTime']).month
f_df['date'] =pd.DatetimeIndex(f_df['mDateTime']).day

In [82]:
f_df

       AGGR_DATE AGGR_HM BUZPLC_CODE INOUT_SE_CD  ...  mDateTime  year month date
562     20211001       0         188           0  ... 2021-10-01  2021    10    1
563     20211001       0         188           0  ... 2021-10-01  2021    10    1
564     20211001       0         188           1  ... 2021-10-01  2021    10    1
565     20211001       0         188           1  ... 2021-10-01  2021    10    1
566     20211001       0         188           1  ... 2021-10-01  2021    10    1
...          ...     ...         ...         ...  ...        ...   ...   ...  ...
304975  20211031     245         297           0  ... 2021-10-31  2021    10   31
304976  20211031     245         297           0  ... 2021-10-31  2021    10   31
304977  20211031     245         297           1  ... 2021-10-31  2021    10   31
305584  20211031     245         762           1  ... 2021-10-31  2021    10   31
305585  20211031     245         762           1  ... 2021-10-31  2021    10   31

[81528 rows x 13 columns]