<a href="https://colab.research.google.com/github/PI-hamin/ITS-study-IDF-/blob/main/ITSpythonstudylecture01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Pandas = data 분석을 위한 tool 제공 
# numpy 등과 함께 사용됨.

# 01-01Series

In [3]:
#Serise 는 값의 배열 과 인덱스의 배령로 구현

In [4]:
#필요한 라이브러리 import
import pandas as pd
import numpy as np

In [5]:
s1 = pd.Series(['a','b','c'])
print (type(s1))

<class 'pandas.core.series.Series'>

In [6]:
s1

0    a
1    b
2    c
dtype: object

In [7]:
#Serise 는 별도의 인덱스를 지정하지 않으면 0부터 인덱스됨.

In [10]:
s2=pd.Series(['a','b','c'],index=['col1','col2','col3'])
s2

col1    a
col2    b
col3    c
dtype: object

In [11]:
s2.index

Index(['col1', 'col2', 'col3'], dtype='object')

In [13]:
s2.values

array(['a', 'b', 'c'], dtype=object)

In [15]:
# Python 딕셔너리 전달

In [17]:
d={"이름":"조운","통솔":91,"무력":97,"지력":52,"정치":91,"매력":77}

In [19]:
s3=pd.Series(d)

In [20]:
print (s3)

이름    조운
통솔    91
무력    97
지력    52
정치    91
매력    77
dtype: object

In [21]:
#reindex (순서변경 또는 인덱스 추가제거)

In [23]:
s2=pd.Series(['조조',96,95,87,32,93],index=['이름','통솔','정치','매력','지력','무력'])

In [44]:
s3=s2.reindex(['이름','무력','지력','정치','매력','통솔'])

In [45]:
s3

이름    조조
무력    93
지력    32
정치    95
매력    87
통솔    96
dtype: object

In [46]:
s4=s2.reindex(['이름','무력','지력','정치','매력','통솔','테스트'])

In [47]:
s4

이름      조조
무력      93
지력      32
정치      95
매력      87
통솔      96
테스트    NaN
dtype: object

In [48]:
s4['이름']

'조조'

In [49]:
s4[0]

'조조'

In [50]:
s4[['이름','테스트','통솔']]

이름      조조
테스트    NaN
통솔      96
dtype: object

In [51]:
s4[s4.notnull()]

이름    조조
무력    93
지력    32
정치    95
매력    87
통솔    96
dtype: object

In [52]:
s4[s4.isnull()]

테스트    NaN
dtype: object

In [53]:
s4['이름']='유비'

In [54]:
s4

이름      유비
무력      93
지력      32
정치      95
매력      87
통솔      96
테스트    NaN
dtype: object

In [55]:
s=pd.Series(np.random.randn(10))

In [56]:
s

0    0.108820
1    0.481712
2    0.263324
3   -2.149588
4    0.124831
5    0.294823
6    0.836440
7   -0.651919
8   -0.801546
9    0.047654
dtype: float64

In [58]:
# 통계정보 확인 (기본통계량)
s.describe()

count    10.000000
mean     -0.144545
std       0.856148
min      -2.149588
25%      -0.477026
50%       0.116825
75%       0.286948
max       0.836440
dtype: float64

In [62]:
s.mean()

-0.1445449212159126

In [64]:
s=pd.Series([1,2,3,np.nan]*3)

In [65]:
s

0     1.0
1     2.0
2     3.0
3     NaN
4     1.0
5     2.0
6     3.0
7     NaN
8     1.0
9     2.0
10    3.0
11    NaN
dtype: float64

In [69]:
s.value_counts(dropna=False)

NaN    3
3.0    3
2.0    3
1.0    3
dtype: int64

In [70]:
s.value_counts

<bound method IndexOpsMixin.value_counts of 0     1.0
1     2.0
2     3.0
3     NaN
4     1.0
5     2.0
6     3.0
7     NaN
8     1.0
9     2.0
10    3.0
11    NaN
dtype: float64>

In [77]:
#mapping (값대치)

In [74]:
e=pd.Series([1,2,3,0]*3)

In [78]:
mapping={1:"고려",2:"서울",3:"육사"}

In [79]:
s.map(mapping)

0      고려
1      서울
2      육사
3     NaN
4      고려
5      서울
6      육사
7     NaN
8      고려
9      서울
10     육사
11    NaN
dtype: object

In [80]:
s.map(lambda x:x**2)

0     1.0
1     4.0
2     9.0
3     NaN
4     1.0
5     4.0
6     9.0
7     NaN
8     1.0
9     4.0
10    9.0
11    NaN
dtype: float64

In [81]:
#data frame

In [133]:
datas={
    '이름':['조조','조운','주유'],
    '통솔':[96,31,56],
    '무력':[94,42,11]
}

In [134]:
type(datas)

dict

In [135]:
df=pd.DataFrame(datas)# df 라는 변수에 datas의 데이터를 가지고 데이터프레임을 만들어라 
df

   이름  통솔  무력
0  조조  96  94
1  조운  31  42
2  주유  56  11

In [136]:
df.describe()

              통솔         무력
count   3.000000   3.000000
mean   61.000000  49.000000
std    32.787193  41.940434
min    31.000000  11.000000
25%    43.500000  26.500000
50%    56.000000  42.000000
75%    76.000000  68.000000
max    96.000000  94.000000

In [137]:
df2=pd.DataFrame(datas,columns=['이름','무력'])

In [138]:
df2

   이름  무력
0  조조  94
1  조운  42
2  주유  11

In [139]:
pd.DataFrame(datas,columns=['이름','특수능력'])

   이름 특수능력
0  조조  NaN
1  조운  NaN
2  주유  NaN

In [140]:
df.iloc[0,0]

'조조'

In [141]:
df

   이름  통솔  무력
0  조조  96  94
1  조운  31  42
2  주유  56  11

In [142]:
df[df['통솔']>94] # 조건

   이름  통솔  무력
0  조조  96  94

In [143]:
condition1= df ['통솔']>96
condition2= df['이름']=='주유'
df[condition1&condition2]# 두개의 조건 만족

Empty DataFrame
Columns: [이름, 통솔, 무력]
Index: []

In [144]:
condition2

0    False
1    False
2     True
Name: 이름, dtype: bool

In [149]:
condition1= df ['통솔']>=96
condition2= df['이름']=='주유'
df[condition1|condition2]

   이름  통솔  무력
0  조조  96  94
2  주유  56  11

In [150]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [151]:
df.values

array([['조조', 96, 94],
       ['조운', 31, 42],
       ['주유', 56, 11]], dtype=object)