<a href="https://colab.research.google.com/github/PI-hamin/ITS-study-IDF-/blob/main/report01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 02-1숫자형  실습

In [ ]:
a=1.2

In [ ]:
a

1.2

In [ ]:
# 8진수
a=0o177

In [ ]:
a

127

In [ ]:
#16진수
a=0x8ff
b=0xABC

In [ ]:
a,b

(2303, 2748)

In [ ]:
# 사칙연산
a=3
b=4

In [ ]:
a+b , a*b, a/b

(7, 12, 0.75)

In [ ]:
# x 와 Y의 제곱
a=3; b=4;

In [ ]:
a**b

81

In [ ]:
# 나눗셈 후 몫을 변환하는 연산자
7%3

1

In [ ]:
#나눗셈 후 몫을 반환하는 연산자 
7/4

1.75

# 02-2 문자열 자료형

In [ ]:
"hello word"

'hello word'

In [ ]:
'python is fun'

'python is fun'

In [ ]:
"""Life is too short, you need python"""

'Life is too short, you need python'

In [ ]:
'''Life is too short, you need python'''

'Life is too short, you need python'

In [ ]:
# 문자열에 작은따옴표 (') 포함시키기 
food = "python's favorite food is perl"

In [ ]:
food

"python's favorite food is perl"

In [ ]:
#문자열에 큰따옴표 (") 포함시키기
say = '"Python is very easy." he says.'

In [ ]:
say

'"Python is very easy." he says.'

In [ ]:
# 백슬래시(\)를 사용해서 작은따옴표(')와 큰따옴표(")를 문자열에 포함시키기
food = 'Python\'s favorite food is perl'
say = "\"Python is very easy.\" he says."

In [ ]:
print (food)
print (say)

Python's favorite food is perl
"Python is very easy." he says.

In [ ]:
#줄을 바꾸기 위한 이스케이프 코드 \n 삽입하기
multiline = "Life is too short\nYou need python"

In [ ]:
multiline

'Life is too short\nYou need python'

In [ ]:
print (multiline)

Life is too short
You need python

In [ ]:
# 문자열 더해서 연결하기 
head = 'Python'
tail = 'is fun'

In [ ]:
head + tail

'Pythonis fun'

In [ ]:
#문자열 곱하기 
head = 'Python';
b= head*2;
print (b);

PythonPython

In [ ]:
# 문자열 길이 구하기 
a = "Life is good";
b=len(a);
print (b);

12

In [ ]:
#문자열 인덱싱 슬라이싱
a="life is too short, you need C++ ";
b=a[3];
print (b);

e

In [ ]:
b= a[0] + a[1]+a[2]+a[3];
print (b);

life

In [ ]:
b=a[0:4];
print (b);

life

In [ ]:
b=a[19:];
print (b);

you need C++

In [ ]:
b=a[:];
print (b);

life is too short, you need C++

In [ ]:
b=a[19:-7];
print (b);

you ne

In [ ]:
# 슬라이싱으로 문자열 나누기 
a= "200010331windy";
date = a[:8];
weather = a[9:];
print (date);
print (weather);

20001033
windy

In [ ]:
# 문자열 pithon 을 python 으로 바꾸기 
a= 'pithon';
print (a[1]);

i

In [ ]:
# 문자열 포메팅 따라하기
"I eat %d apple."%3

'I eat 3 apple.'

In [4]:
#두개 이상의 값을 넣기 
number=10;
day="three"
print ("I ate %d apples. so i was sick for %s days."%(number,day));

I ate 10 apples. so i was sick for three days.

# 02-3 리스트 자료형

In [6]:
# 리스트 인덱싱
a=[1,2,3];

In [7]:
print (a);

[1, 2, 3]

In [8]:
a[0];

In [9]:
print(a[0]);

1

In [10]:
print (a[0]+a[2]);

4

In [11]:
# 삼중 리스트 인덱싱
a= [1,2,["a","b",['Life','is']]]

In [12]:
print (a);

[1, 2, ['a', 'b', ['Life', 'is']]]

In [13]:
print (a[2][2][0]);

Life

In [14]:
# 리스트 슬라이싱
a=[1,2,3,4,5];
print (a[0:2]);

[1, 2]

In [15]:
#리스트 더하기 
a=[1,2,3];
b=[4,5,6];
print (a+b);

[1, 2, 3, 4, 5, 6]

In [16]:
#리스트 반복하기
a=[1,2,3];
print (a*3);

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [17]:
#리스트 길이 구하기 
a=[1,2,3];
print(len(a));

3

In [18]:
#리스트의 수정과 삭제 
a=[1,2,3];
a[2]=4;
print (a);

[1, 2, 4]

In [19]:
#del 함수를 이용해 리스트 요소 삭제
a=[1,2,3];
del a[1];
print (a);

[1, 3]

In [20]:
#리스트 정렬 
a=[1,4,2,3];
a.sort();
print (a);

[1, 2, 3, 4]

In [22]:
#리스트 뒤집기
a=['a','c','b','d'];
a.reverse();
print (a);

['d', 'b', 'c', 'a']

In [24]:
#위치변환 index
a=[1,2,3];
print (a.index(3));
print (a.index(1));

2
0

In [25]:
#리스트에 요소 제거 remove
a=[1,2,3,1,2,3];
a.remove(3);
print (a);

[1, 2, 1, 2, 3]

In [28]:
#리스트 요소 끄집어 내기 (pop)
# 리스트의 맨 마지막 요소를 돌려주고 꺼낸 요소는 삭제한다. 
a=[1,2,3];
print (a.pop());

3

In [29]:
#리스트에 포함된 요소 갯수 세기 
a=[1,2,3,1];
print (a.count(1));

2

In [30]:
# 리스트 확장(extend) 
a=[1,2,3,4];
a.extend([5,6,7]);
print (a);

[1, 2, 3, 4, 5, 6, 7]

# 02-4튜플 자료형

In [32]:
# 튜플이 리스트와 다른점 
# 튜플은 () 로 감싼다. (리스트는 [] 로 감싼다)
# 리스트는 값의 수정이 가능하지만 튜플은 값을 바꿀 수 없다. 
# 괄호 생략 무관 
t2=(1,2,3);
print (t2);

(1, 2, 3)

In [33]:
# 튜플의 요소를 삭제한다면? 
t1=1,2,'a','b';
del t1[0];

TypeError: ignored

In [34]:
#튜플의 인덱싱 
t1=1,2,3,4,5,6,'a','b';
print (t1[0]);

1

In [35]:
# 튜플 슬라이싱 
t1=1,2,'a','b','c';
print(t1[1:]);

(2, 'a', 'b', 'c')

In [46]:
# 튜플의 더하기, 곱하기, 길이 구하기 
t1=(1,2,3);
t2=(4,5,6);
# 더하기 
c=a+b;
print (c);
# 곱하기 
print (t2*3);
#길이 구하기 
print (len(t1));

[1, 2, 3, 4, 5, 6, 7, 4, 5, 6]
(4, 5, 6, 4, 5, 6, 4, 5, 6)
3

#02-5 딕셔너리 자료형

In [48]:
# 딕셔너리 = 대응관계의 표현 
dic ={'name':'pey','phone':'00001000100'};
print (dic);

{'name': 'pey', 'phone': '00001000100'}

In [49]:
a={1:'hi'};

In [50]:
print (a);

{1: 'hi'}

In [51]:
#딕셔너리 쌍 추가하기
a={1:'a'};
a[2]='b';
print (a);

{1: 'a', 2: 'b'}

In [52]:
a['name']='pey';
print (a);

{1: 'a', 2: 'b', 'name': 'pey'}

In [53]:
#딕셔너리 요소 삭제 
del a[1];
print (a);

{2: 'b', 'name': 'pey'}

In [54]:
#딕셔너리 key 를 사용해 value 얻기 
grade = {'pey': 10, 'julliet': 99};
print (grade['pey']);

10

In [56]:
#key list 만들기 
a = {'name': 'pey', 'phone': '0119993323', 'birth': '1118'};
print (a.keys());

dict_keys(['name', 'phone', 'birth'])

In [57]:
# Value 리스트 만들기 
print (a.values());

dict_values(['pey', '0119993323', '1118'])

# 02-6 집합 자료형

In [59]:
# 집합에 관련된 것을 쉽게 처리 할 수 잇음 
# 만들땐 set 키워드 이용 
s1 = set([1,2,3]);
print (s1);

{1, 2, 3}

In [60]:
# 리스트, 문자열 입력 가능 
s2 = set("Hello");
print(s2);

{'H', 'l', 'e', 'o'}

In [61]:
#set 은 중복을 허용 하지 않음

In [62]:
# 교집합과 차집합 구하기
s1 = set([1, 2, 3, 4, 5, 6]);
s2 = set([4, 5, 6, 7, 8, 9]);
# 교집합(& or intersection())
print (s1&s2);
print (s1.intersection(s2));
#합집합 (| or union)
print (s1|s2);
print (s1.union(s2));
#차집합(- or difference)
print(s1 - s2);
print (s1.difference(s2));

{4, 5, 6}
{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}
{1, 2, 3}

In [63]:
# 집합 자료형 관련 함수들
s1 = set([1, 2, 3]);
#값 1개 추가하기(add)
s1.add(4);
print (s1);
#값 여러개 추가하기 (update)
s1.update({5,6,7});
print (s1);
#특정 값 제거하기(remove)
s1.remove(2);
print (s1);

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 7}
{1, 3, 4, 5, 6, 7}

# 02-7 불 자료형

In [65]:
# 참, 거짓 둘만 나차내는 자료형
a=True; 
b=False;

In [66]:
print (type(a));

<class 'bool'>

In [67]:
# 조건문의 반환 값으로 활용 
1==1

True

In [68]:
a=[1,2,3,4];
while a: 
  print (a.pop());

4
3
2
1

In [69]:
# 불 연산 
print (bool('python')); # 빈문자열이 아님으로 true
print (bool(''));

True
False

# 02-8 자료형의 값을 저장하는 공간 , 변수

In [71]:
# 변수를 만들때는 assign 기로 '=' 사용한다.
# 변수이름 = 변수에 저장할 값
#변수가 가리키는 메모리주소 확인 
a=[1,2,3];
print (id(a));

140308107944976

In [72]:
#리스트를 복사할때 
a=[1,2,3];
b=a;
print (b);

[1, 2, 3]

In [74]:
# id 함수를 활용하면 복사된 사실을 알 수 있다. 
print(id(a));
print(id(b));

140308107850768
140308107850768

In [76]:
# is 객체를 사용해도 동일한 것을 알수 있음 
a is b

True

In [77]:
a[1]=4;
print (a);
print (b);

[1, 4, 3]
[1, 4, 3]

In [79]:
#copy 모듈 이용 (b = copy(a)는 b = a[:]과 동일하다.)
from copy import copy
a=[1,2,3];
b=copy(a);
print (b);

[1, 2, 3]

In [80]:
b is a

False